{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<div class='bodydiv'>
<head>
  {% block htmltop %}
  {% endblock %}
  <link rel='stylesheet' href="{% static 'appurl/css/css.css' %}">
  <link rel='stylesheet' href="{% static 'appurl/bootstrap.css'%}">
</head>
<body {% block bodytag %}{% endblock%}>
  <ul class="nav nav-tabs">
        <li role="presentation"><a href="{% url 'index' %}">Index</a></li>
        <li role="presentation"><a href="{% url 'addbookmark' %}">Create Bookmark</a></li>
      {% if request.user.is_authenticated %}
      <!-- If user logged in -->
        <li role="presentation"><a href="{% url 'index' %}yourbookmarks/{{ user }}">Your Bookmarks</a></li>
        <li role="presentation"><a href="{% url 'logout' %}">Logout</a></li>
      {% else %}
      <!-- If not logged in -->
        <li role="presentation"><a href="{% url 'signup' %}">Sign Up</a></li>
        <li role="presentation"><a href="{% url 'login' %}">Login</a></li>
      {% endif %}
        </ul>
  <div class='container'>
  {% block content %}
  <div class='pagetitle'>
  </div>
  {% endblock %}
</div>
</div>
</div>
</body>
</html>
