<!DOCTYPE html>
<html lang="en">
<head>
  {% block htmltop%}
  {% endblock %}
</head>
<body {% block bodytag %}{% endblock%}>
  <a href="{% url 'index' %}">Index</a>
  <a href="{% url 'past' %}">Past</a>
  {% if request.user.is_authenticated %}
  <!-- If logged in -->
    <a href="{% url 'viewbookmarks' %}">View Bookmarks</a>
    <a href="{% url 'addbookmark' %}">Create new Bookmark</a>
    <a href="{% url 'logout' %}">Logout</a>
  {% else  %}
  <!-- If not logged in -->
    <a href="{% url 'signup' %}">Sign up</a>
    <a href="{% url 'login' %}">Login</a>
  {% endif %}
  {% block content %}
  {% endblock %}
</body>
</html>
