{% extends 'base.html' %}

{% block content %}
{% if bookmark_list  %}
  <table id="bookmarks">
    {% for bookmark in bookmark_list %}
      <tr>
        <td>{{ bookmark.shortlink }}</td>
        <td>{{ bookmark.user }}</td>
      </td>
    {% endfor %}
  </table>
  {% if is_paginated %}
  <div class='pagination'>
      <span class='step-links'>
          {% if bookmark.has_previous %}
          <a href="?page={{ bookmark.previous_page_number }}">Previous</a>
          {% endif %}

          <span class="current">
            page {{ bookmark.number }} of {{ paginator.num_pages }}.
          </span>

          {% if bookmark.has_next %}
          <a href="?page={{ bookmark.next_page_number }}">Next</a>
          {% endif %}
      </span>
    </div>
  {% endif %}
  {% else %}
    <p>No bookmarks found.</p>
  {% endif %}
{% endblock %}
