{% extends 'base.html' %}

{% block content %}
{% if bookmark_list  %}
  <table id="bookmarks">
    {% for bookmark in bookmark_list %}
      {% if bookmark.public %}
      <tr>
        <td>{{ bookmark.title }}</td>
        <td><a href="{{index}}/{{ bookmark.shortlink }}">{{ bookmark.shortlink }}</a></td>
        <td>{{ bookmark.description }}</td>
        <td>{{ bookmark.user }}</td>
      </tr>
      {% endif %}
    {% endfor %}
  </table>
  {% if is_paginated %}
  <div class='pagination'>
      <span class='step-links'>
          {% if bookmark.has_previous %}
          <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
          {% endif %}

          <span class="current">
            <p>page {{ page_obj.number }} of {{ paginator.num_pages }}</p>
          </span>

          {% if bookmark.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">Next</a>
          {% endif %}
      </span>
    </div>
  {% endif %}
  {% else %}
    <p>No bookmarks found.</p>
  {% endif %}
{% endblock %}
